@model IEnumerable<app.Models.ViewModels.ServiceCategoryVM>

@{
    ViewData["Title"] = "Home Page";
    Layout = "_IndexV2Layout";
}
@section head {

    <div class="wt-haslayout wt-bannerholder">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                    <div class="wt-bannerimages">
                        <figure class="wt-bannermanimg" data-tilt>
                            <img src="/theme1/images/bannerimg/img-01.jpg" alt="img description">
                            <img src="/theme1/images/bannerimg/img-01.jpg" class="wt-bannermanimgone" alt="img description">
                            <img src="/theme1/images/bannerimg/img-01.jpg" class="wt-bannermanimgtwo" alt="img description">
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                    <div class="wt-bannercontent">
                        <div class="wt-bannerhead">
                            <div class="wt-title">
                                <h1><span>Hire experts </span> for any household work</h1>
                            </div>
                            <div class="wt-description">
                                <p>Aatm nirbhar Bharat</p>
                            </div>
                        </div>
                        <form class="wt-formtheme wt-formbanner" asp-controller="home" asp-action="search" method="get">
                            <fieldset>
                                <div class="form-group input-group">

                                    <select class="form-control" name="Search">
                                        @foreach (var i in Model)
                                        {
                                            <option value="@i.CategoryName">@i.CategoryName</option>
                                        }
                                    </select>

                                    <div class="input-group-append">
                                        <button class="wt-searchbtn"><i class="lnr lnr-magnifier"></i></button>
                                    </div>
                                    @*<input type="text" name="fullname" class="form-control" placeholder="I’m looking for">*@
                                    @*<div class="wt-formoptions">
            <div class="wt-dropdown">
                <span>In: <em class="selected-search-type">Freelancers </em><i class="lnr lnr-chevron-down"></i></span>
            </div>
            <div class="wt-radioholder">
                <span class="wt-radio">
                    <input id="wt-freelancers" data-title="Freelancers" type="radio" name="searchtype" value="freelancer" checked>
                    <label for="wt-freelancers">Freelancers</label>
                </span>
                <span class="wt-radio">
                    <input id="wt-jobs" data-title="Jobs" type="radio" name="searchtype" value="job">
                    <label for="wt-jobs">Jobs</label>
                </span>
                <span class="wt-radio">
                    <input id="wt-company" data-title="Companies" type="radio" name="searchtype" value="job">
                    <label for="wt-company">Companies</label>
                </span>
            </div>
            <a href="userlisting.html" class="wt-searchbtn"><i class="lnr lnr-magnifier"></i></a>
        </div>*@
                                </div>
                            </fieldset>
                        </form>
                        <div class="wt-videoholder">
                            <div class="wt-videoshow">
                                <a data-rel="prettyPhoto[video]" href="https://www.youtube.com/watch?v=J37W6DjqT3Q"><i class="fa fa-play"></i></a>
                            </div>
                            <div class="wt-videocontent">
                                <span>See For Yourself!<em>How it works &amp; experience the ultimate joy.</em></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



}


<section class="wt-haslayout wt-main-section">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                <div class="wt-sectionhead wt-textcenter">
                    <div class="wt-sectiontitle">
                        <h2>Explore Categories</h2>
                        <span>Professional by categories</span>
                    </div>
                </div>
            </div>
            <div class="wt-categoryexpl">

                @foreach (var i in Model)
                {
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 float-left align-self-center">
                        <div class="wt-categorycontent">
                            <figure><img src="@i.Image" alt="image description"></figure>
                            <div class="wt-cattitle">
                                <h3><a href="javascrip:void(0);">@i.CategoryName</a></h3>
                            </div>
                            <div class="wt-categoryslidup">
                                <p>@i.Display</p>
                                <a href="javascript:void(0);">Explore <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                }
                
            </div>
        </div>
    </div>
</section>











